In [ ]:
USE DWH;
GO
CREATE PROCEDURE "Transfer_Sales_SalesOrderHeader"
(
@SourceDB VARCHAR(50)= "ERP",
@SourceSchemaTable VARCHAR(50)= "Sales.SalesOrderHeader",
@DestinationDB VARCHAR(50) = "DWH",
@DestinationSchemaTable VARCHAR(50) = "staging.Staging_SalesOrderHeader"
)AS
BEGIN
DECLARE @SQL NVARCHAR(MAX)
    DECLARE @FullyQualifiedDestinationTable NVARCHAR(128) = @DestinationDB + '.' + @DestinationSchemaTable;
BEGIN TRY
    IF OBJECT_ID(@FullyQualifiedDestinationTable, 'U') IS NOT NULL
    BEGIN
        SET @SQL = 'DROP TABLE ' + @FullyQualifiedDestinationTable;
        EXEC sp_executesql @SQL;
    END
SET @SQL = N'SELECT * INTO ' + @DestinationDB + '.' + @DestinationSchemaTable + ' FROM ' + @SourceDB + '.' + @SourceSchemaTable
EXEC sp_executesql @SQL;
END TRY
    BEGIN CATCH
        PRINT 'Ein Fehler ist aufgetreten: ' + ERROR_MESSAGE();
        THROW;
    END CATCH
END;
Go